################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Vehiculos Viajando/.vs/Vehiculos Viajando/v16
/.vs/VehiculosViajando/v16
/.vs
